<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
  <p-panel>
    <p-header>
      Cadastro de Colaboradores
    </p-header>
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">

      <div class="ui-grid-row">

        <div class="ui-grid-col-6">
          <span class="ui-float-label">
            <p-autoComplete id="pessoa" formControlName="pessoa" [suggestions]="filtroPessoa"
              (completeMethod)="buscarPessoa($event)" emptyMessage="Nenhum Registro Encontrado" field="nome">
            </p-autoComplete>
            <label for="pessoa">Pessoa </label>
          </span>
          <p-message severity="error" text="O Nome da Pessoa!"
            *ngIf="!formGroup.controls['pessoa'].valid&&formGroup.controls['pessoa'].dirty"></p-message>
        </div>

      </div>


      <!-- Setor -->
      <div class=" ui-grid-row">
        <div class="ui-grid-col-4">
          <span class="ui-float-label">
            <p-autoComplete id="setor" formControlName="setor" [suggestions]="filtroSetor"
              (completeMethod)="buscarPorSetor($event)" emptyMessage="Nenhum Registro Encontrado" field="nome">
            </p-autoComplete>
            <label for="setor">Setor </label>
          </span>
          <p-message severity="error" text="Informe um Setor!"
            *ngIf="!formGroup.controls['setor'].valid&&formGroup.controls['setor'].dirty"></p-message>

        </div>
      </div>

      <!-- Cargo -->
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">
          <span class="ui-float-label">
            <p-autoComplete id="cargo" formControlName="cargo" [suggestions]="filtroCargo"
              (completeMethod)="buscarPorCargo($event)" emptyMessage="Nenhum Registro Encontrado" field="nome">
            </p-autoComplete>
            <label for="cargo">Cargo</label>
          </span>
          <p-message severity="error" text="O Campo Cargo não poder estar vazio!"
            *ngIf="!formGroup.controls['cargo'].valid&&formGroup.controls['cargo'].dirty"></p-message>
        </div>
      </div>

      <!-- Tipo Colaborador -->
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">
          <span class="ui-float-label">
            <p-autoComplete id="tpColaborador" formControlName="tipoColaborador" [suggestions]="filtroTipoColaborador"
              (completeMethod)="buscarPorTipoColaborador($event)" emptyMessage="Nenhum Registro Encontrado"
              field="nome">
            </p-autoComplete>
            <label for="tpColaborador">Tipo de Colaborador </label>
          </span>
          <p-message severity="error" text="Informe o tipo do colaborador!"
            *ngIf="!formGroup.controls['tipoColaborador'].valid&&formGroup.controls['tipoColaborador'].dirty">
          </p-message>
        </div>
      </div>

      <!-- Foto-->
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">
          <label>Foto </label><br>
          <p-fileUpload></p-fileUpload>
        </div>
      </div>


      <div class="ui-grid-row ui-md-6 botoesDetalhes"> 
        <!-- Salvar -->
        <button pButton type="submit" label="Salvar" [disabled]="!formGroup.valid"  icon="pi pi-save"></button>
        <!-- Cancelar - Retorna para Pagina de Listagem -->
        <button pButton type="button" label="Cancelar" (click)="retornar()" class="ui-button-warning"
          icon="pi pi-check"></button>

      </div>


    </div>

    <p-footer>
      D.Maia TI
    </p-footer>
  </p-panel>

</form>