<p-messages [(value)]="global.msgs"></p-messages> <!-- msg -->

<div class="ui-g">

  <div class="ui-g-12 ui-md-12 barTpo">
    <!--Logo-->
    <div style="text-align: center; font-size: 20px; color: lightyellow">
      <a routerLink="">
        <span style="color: lightyellow">MaiaTi - SysCom</span>
      </a>
    </div><!-- /Logo-->
  </div>


  <!-- Header-Cabeçalho-->
  <!--se o Usuario não estiver Logado o Menu de opções não estara visivel ate que o mesmo faço o login-->
  <div class="ui-g-12 ui-md-2">

    <p-accordion *ngIf="loginService.getUsuarioLogado()">
      <p-accordionTab header="Cadastros">
        <nav>
          <ul>

            <li><a routerLink="/cargos">Cargos</a></li>
            <li><a routerLink="/colaborador">Colaborador</a></li>

          </ul>

        </nav>
      </p-accordionTab>

      <p-accordionTab header="Fincanceiro">
        Content 2
      </p-accordionTab>

      <p-accordionTab header="Comercial">
        <button class="btn btn-primary">Salvar</button>
      </p-accordionTab>
    </p-accordion>

  </div>


  <!-- Corpo da Pagina -->
  <div class="ui-g-12 ui-md-10 ui-g-nopad" style="margin-top: 9px">

    <!-- Tela Principal do Sistema-->
    <div class="ui-g-12 ui-g-nopad">

      <!--Rotas de Paginaçao-->
      <router-outlet></router-outlet>

    </div>
    <!--/Tela Principal do Sistema-->

  </div>


  <!--Footer-->
  <div class="ui-g-12 ui-md-12" *ngIf="loginService.getUsuarioLogado()">
    <p-toolbar>
      <!--Lado Esquerdo-->
      <div class="ui-toolbar-group-left">
        <span> {{loginService.usuario.login}} </span>
      </div>

      <!--Lado Direito-->
      <div class="ui-toolbar-group-right">
        <a href="" (click)="loginService.logout()">Sair</a>
      </div>

    </p-toolbar>
  </div>

</div>