
<div class="ui-g">

  <!-- Header - Cabeçalho -->
  <div class="ui-g-12 ui-md-2">
    <!--Logo-->
    <div style="text-align: center">
      <a routerLink=""> <span>MaiaTi - SysCom</span>
        <img src="/assets/img/logo.png" alt="MaiaTi.com">
      </a>
    </div><!-- /Logo-->

    <p-accordion>
      <p-accordionTab header="Cadastros">
        <nav>
          <ul>

            <li><a routerLink="/cargo">Cargos</a></li>

          </ul>

        </nav>
      </p-accordionTab>

      <p-accordionTab header="Fincanceiro">
        Content 2
      </p-accordionTab>

      <p-accordionTab header="Comercial">
        Content 3
      </p-accordionTab>
    </p-accordion>

  </div>


  <!-- Corpo da Pagina -->
  <div class="ui-g-12 ui-md-10 ui-g-nopad">

    <!--Titulo da Pagina-->
    <div class="ui-g-12">
      <p-toolbar>
        <div class="ui-toolbar-group-left"> <!--Alinhado a Esquerdo-->
         {{global.tituloJanela}}
        </div>
      </p-toolbar>

    </div>

    <!-- Tela Principal do Sistema-->
    <div class="ui-g-12 ui-g-nopad">

      <!--Rotas de Paginaçao-->
      <router-outlet></router-outlet>

    </div>
    <!--/Tela Principal do Sistema-->
  </div>


  <!--Footer-->
  <div class="ui-g-12">
    <p-toolbar>

      <!--Lado Esquerdo-->
      <div class="ui-toolbar-group-left">

      </div>

      <!--Lado Direito-->
      <div class="ui-toolbar-group-right">
        <h4>Dowglas Maia (Sair)</h4>
      </div>

    </p-toolbar>
  </div>

</div>
