<div class="ui-g">

<!-- Header - Cabeçalho -->
  <div class="ui-g-12 ui-md-2" style="color: darkcyan">

    <a routerLink="#" style="font-size: 32px;">SysComercial</a>

    <p-accordion>
      <p-accordionTab header="Cadastros">
        <nav>
          <ul>
            <li><a routerLink="/cargo">Cargo</a></li>
            <li><a routerLink="#">2</a></li>
            
          </ul>

        </nav>
      </p-accordionTab>

      <p-accordionTab header="Fincanceiro">
        Content 2
      </p-accordionTab>

      <p-accordionTab header="Comercial">
        Content 3
      </p-accordionTab>
    </p-accordion>

  </div>


  <!-- Corpo da Pagina -->
  <div class="ui-g-12 ui-md-10 ui-g-nopad">
    <!--Titulo da Pagina-->
    <div class="ui-g-12">
        <p-toolbar>
            <!--Alinhado a Esquerdo-->
            <div class="ui-toolbar-group-left">
                Titulo da Janela!
            </div>
          </p-toolbar>
    </div>

    <!-- Tela Principal do Sistema-->
    <div class="ui-g-12 ui-g-nopad">

      <!--Rotas de Paginaçao-->
      <router-outlet></router-outlet>

    </div>
    <!--/Tela Principal do Sistema-->
  </div>


  <!--Footer-->
  <div class="ui-g-12">
    <p-toolbar>

      <!--Lado Esquerdo-->
      <div class="ui-toolbar-group-left">

      </div>

      <!--Lado Direito-->
      <div class="ui-toolbar-group-right">
        <h4>Dowglas Maia (Sair)</h4>
      </div>

    </p-toolbar>
  </div>

</div>
