<!--
  Pagina de Cadastro  e Edição de Cargos
-->
<p-panel>
  <p-header>
    Cadastro de Colaboradores
  </p-header>
  <div class="ui-g">
    <!-- Nome -->
    <div class="ui-g-12 ui-md-6 ui-lg-6">
      <span class="ui-float-label">
        <p-autoComplete  id="pessoa" [(ngModel)]="colaborador.pessoa.nome" [suggestions]="filtroPessoa"
          (completeMethod)="buscarPessoa($event)">
        </p-autoComplete>

        <label for="pessoa">Pessoa </label>
      </span>
    </div>




    <div class="botoesDetalhes">
      <!-- Salvar -->
      <p-button label="Salvar" (onClick)="salvar()"></p-button>

      <!-- Cancelar - Retorna para Pagina de Listagem -->
      <p-button label="Cancelar" (onClick)="retornar()"></p-button>
    </div>

  </div>

  <p-footer>
    Footer content here
  </p-footer>
</p-panel>